<div class='exchange-container'>
  <div style="text-align:center">
    <img src="../assets/img/Icons8_flat_currency_exchange.svg.png" class="logo" height="200">
  </div>
  <mat-card class="main-panel" [id]="exchangerId">
    <span class="currency-label">Currency:</span>
    <mat-form-field floatLabel="never" style="width:80px; margin-top:4px; margin-left: 24px;">
      <mat-select placeholder="From" class="curency">
        <mat-option value="czk">
          CZK
        </mat-option>
        <mat-option value="eur">
          EUR
        </mat-option>
        <mat-option value="eur">
          USD
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button style="padding:0">
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <mat-form-field floatLabel="never" style="width:80px; margin-top:4px;">
      <mat-select placeholder="To" class="curency">
        <mat-option value="czk">
          CZK
        </mat-option>
        <mat-option value="eur">
          EUR
        </mat-option>
        <mat-option value="eur">
          USD
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="amount-label">Amount:</span>
    <mat-form-field floatLabel="never" class="amount">
      <input matInput placeholder=0.00 type="number" class="example-right-align">
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit" (click)="switch()">
      <!--<mat-icon>arrow_forward</mat-icon>-->
      CONVERT
    </button>
  </mat-card>
  <div [class]="resultClass" style="text-align: center">
    <mat-card class="result-panel">
      <!--<span style="margin-right:24px; float: left;">Result:</span>-->
      1000.00 CZK =
      <span style="font-weight: bold; color:#673ab7; font-size:24px;"> 40.00</span> EUR
    </mat-card>
  </div>
</div>