<div class="stat-container">
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="stat-card">
        <mat-card-content>
          <p class="stat-title">Most popular destination currency</p>
          <p class="stat-value" style="font-size:36px; margin-top:30px;">CZK</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="stat-card">
        <mat-card-content>
          <p class="stat-title">Total amount in USD</p>
          <p class="stat-value">12855435</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="stat-card">
        <mat-card-content>
          <p class="stat-title">Total number of conversions</p>
          <p class="stat-value">435</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>